# Deployment
PRIVATE_KEY=0x...
DEV_WALLET=0x...

# Metadata (Pinata IPFS gateway base URI)
# Example: https://gateway.pinata.cloud/ipfs/QmXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/
BASE_URI=https://gateway.pinata.cloud/ipfs/YOUR_HASH_HERE/

# Verification
ETHERSCAN_API_KEY=your_api_key_here
BASESCAN_API_KEY=your_basescan_api_key_here
